@media (max-width: 2560px){
.title {
  font-size: 4rem;
}

form h1 {
  font-size: 3rem;
}

form.submit{
  font-size: 2rem;

}

.subtitle {
  font-size: 2rem;
}

.description {
  font-size: 2.5rem;
}
#output{
  font-size: 1.8rem;
}

.section{
  font-size: 2rem;
}


}

@media (max-width: 1500px) {
  .title {
    font-size: 2.6rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .description {
    font-size: 2.5rem;
  }

  form h1 {
    font-size: 2.6rem;
  }
}
/* Medium Screens (Tablets, Small Laptops) */
@media (max-width: 1024px) {
  .title {
    font-size: 2.3rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  .description {
    font-size: 1.4rem;
  }
}

/* Small Screens (Tablets, Large Phones) */
@media (max-width: 768px) {
  .title {
    font-size: 2.3rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1.3rem;
  }

  .section{
    font-size: 1rem;
    padding: 0px 20px;
  }

  textarea::placeholder{
    font-size: 1.2rem;
  }
}

/* Extra Small Screens (Phones) */
@media (max-width: 480px) {
  .title {
    font-size: 2.1rem;
  }

  #output{
    font-size: 1.2rem;
  }

  .header{
    font-size: small;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .description {
    font-size: 1.3rem;
  }

  label {
    font-size: 1rem;
  }

  .form p {
    font-size: 1.4rem;
  }

  .header-items{
    font-size: 15px;
    padding: 0px;
  }

  .form-text{
    font-size: 1.3rem;
  }

  .header-items li{
    padding: 15px 10px;
  }
  
}

/* Ultra Small Screens (Very Small Phones) */
@media (max-width: 375px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.1rem;
  }
.form-text{
font-size: 1.2rem !important; 
}

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
 font-size: 1rem;
  }
}
